<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>School System</h1>
            <form  [formGroup]="loginform" (ngSubmit)="onLoggedin()" >
                <div class="form-content">

                    <div class="form-group">
                        <input type="text" formControlName="email" class="input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="pass" class="input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" >
                    {{ 'Log in' | translate }}</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
